#main-navbar {
	background-color: blue;
	overflow: hidden;
}

#onpage {
	text-decoration: underline overline;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li a {
	display: block;
	color: #fff;
  text-decoration: none;
}

a:hover{
	background-color: #000;
}

#main-navbar ul{
  float: left;
  position:relative;
  margin: 0;
  left: 50%;
}

#main-navbar ul li {
  float:left;
  position: relative;
  right:50%;
  display: block;
}

#main-navbar ul li a{
  padding: 10px 20px;
}

#navbar-container {
	width: 100%;
	float: left;
	position: relative;
}



#sidebar {
	position: fixed;
	right: 0%;
	background-color: red;
	height: 100%;
	width: 20%;
	list-style-type: none;
	text-align: center;
	
}
#sidebar a{
	padding: 15px 0;
}

#sidebar-container {
	
}