#main-navbar {
	background-color: blue;
	
	width: 100%;
	position: relative;
	overflow: hidden;
	
	
	display: block;
}

#main-navbar a{
	padding: 10px 20px;
	position: relative;
	margin: 0;
	left: 50%;
	float: left;
}

#navbar-container {
	
	right: 50%;
	float: left;
}

#onpage {
	position: relative;
	float:left;
	
	text-decoration: underline overline;
	
}

ul {
	list-style-type: none;
	
}

li {
	/**/
}

a {
	text-decoration: none;
	color: #fff;
	
	padding: 0;
}

a:hover{
	background-color: #000;
	display: block;
}

#sidebar {
	position: fixed;
	right: 0%;
	background-color: red;
	height: 100%;
	width: 20%;
	list-style-type: none;
	text-align: none;
	
}

#sidebar-container {
	padding: 15px 0;
}