#main-navbar {
	background-color: blue;
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	
	display: block;
	
}

#navbar-container {
	/*position: relative;
	
	
	*/
	padding: 10px 20px;
	left: 50%;
	right: 50%;
	float: left;
	
	
}

#onpage {
	position: relative;
	float:left;
	
	text-decoration: underline overline;
	
}

ul {
	list-style-type: none;
	
}

li {
	/*display: block;*/
}

a {
	text-decoration: none;
	color: #fff;
	
	padding: 0;
}

a:hover{
	background-color: #000;
}

#sidebar {
	position: fixed;
	right: 0%;
	background-color: red;
	height: 100%;
	width: 20%;
	list-style-type: none;
	text-align: none;
	
}

#sidebar-container {
	padding: 15px 0;
}